<a href="https://colab.research.google.com/github/bibekprasad/Data-Analysis-on-Coronavirus-Dataset/blob/master/TWITTER_Sentiment_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import tweepy as tw

In [0]:
##Create API TOKEN FROM TWITTER DEVELOPER APP

In [0]:
ACCESS_TOKEN = 'XXXXXXXXXXXX'
ACCESS_SECRET = 'XXXXXXXXXXXX'
CONSUMER_KEY = 'XXXXXXXXXXXX'
CONSUMER_SECRET = 'XXXXXXXXXXXX'

In [0]:
auth=tw.OAuthHandler(CONSUMER_KEY,CONSUMER_SECRET )
auth.set_access_token(ACCESS_TOKEN,ACCESS_SECRET)
api=tw.API(auth,wait_on_rate_limit=True)

In [0]:
searchwords="#coronavirus"
Date_since="2020-03-20"

In [0]:
tweets=tw.Cursor(api.search,
                 q=searchwords,
                 lang="en",
                 since=Date_since).items(100)

In [6]:
tweets

In [0]:
tweet_details=[[tweet.geo,tweet.text,tweet.user.screen_name,tweet.user.location] for tweet in tweets]

In [0]:
import pandas as pd

In [0]:
tweet_df=pd.DataFrame(data=tweet_details,columns=["geo","text","name","location"])

In [10]:
tweet_df.head(2)

    geo  ...                    location
0  None  ...  EU RT=support/worth noting
1  None  ...

[2 rows x 4 columns]

In [0]:
pd.set_option("max_colwidth",800)

In [12]:
tweet_df.head(2)

    geo  ...                    location
0  None  ...  EU RT=support/worth noting
1  None  ...

[2 rows x 4 columns]

In [13]:
tweet_df.location.value_counts()

                              31
UK                             3
Johannesburg, South Africa     2
USA‚ù§Ô∏èüá∫üá∏                        2
United States                  2
                              ..
Houston, TX                    1
Commifornia                    1
Brooklyn, NY                   1
Dublin City, Ireland           1
Lewis Center, OH               1
Name: location, Length: 65, dtype: int64

In [0]:
import re

In [0]:
def clean_tweets(text):
  text=re.sub("RT @[\w]*:","",text)
  text=re.sub("@[\w]*","",text)
  text=re.sub("https?://[A-Za-z0-9./]*","",text)
  text=re.sub("\n ","",text)
  return text

In [0]:
tweet_df['text']=tweet_df['text'].apply(lambda x:clean_tweets(x))

In [17]:
tweet_df.head()

    geo  ...                    location
0  None  ...  EU RT=support/worth noting
1  None  ...
2  None  ...
3  None  ...                     Wakanda
4  None  ...

[5 rows x 4 columns]

In [0]:
tweet_df.to_csv("tweets.csv")

In [19]:
!ls

sample_data  tweets.csv

In [0]:
import spacy

In [0]:
nlp=spacy.load("en_core_web_sm")

In [22]:
tweet_df['text'].apply(lambda x:[print("\t Text : {},Entity :{}".format(ent.text,ent.label_)) if(not ent.text.startswith("#")) else "" for ent in nlp(x).ents])

	 Text : Lorestan Medical Sciences University,Entity :ORG
	 Text : Iran,Entity :GPE
	 Text : The Supreme National Security Council &amp,Entity :ORG
	 Text : the Health Ministry's,Entity :ORG
	 Text : Secu,Entity :PRODUCT
	 Text : 6/ Tonight,Entity :TIME
	 Text : one day,Entity :DATE
	 Text : Trump,Entity :PERSON
	 Text : Iran,Entity :GPE
	 Text : WhitePrivilege,Entity :PERSON
	 Text : gay-Americans,Entity :NORP
	 Text : Mahhi Vij Shares Heartfelt Post,Entity :ORG
	 Text : Coronavirus,Entity :PERSON
	 Text : 7th,Entity :ORDINAL
	 Text : 7th,Entity :ORDINAL
	 Text : Ireland,Entity :GPE
	 Text : IrelandLockdown,Entity :ORG
	 Text : Ireland,Entity :GPE
	 Text : Spain,Entity :GPE
	 Text : first,Entity :ORDINAL
	 Text : six weeks,Entity :DATE
	 Text : Trump,Entity :PERSON
	 Text : 413,Entity :CARDINAL
	 Text : UK,Entity :GPE
	 Text : past 24hrs,Entity :DATE
	 Text : 20,372,Entity :CARDINAL
	 Text : coronavirus,Entity :PERSON
	 Text : 5,Entity :CARDINAL
	 Text : Spain,Entity :GPE
	 Text : 47 mil,Entity :QUANTITY
	 Text : 413,Entity :CARDINAL
	 Text : UK,Entity :GPE
	 Text : past 24hrs,Entity :DATE
	 Text : 20,372,Entity :CARDINAL
	 Text : MASSIVE,Entity :PERSON
	 Text : daily,Entity :DATE
	 Text : Italy,Entity :PERSON
	 Text : only 260,Entity :CARDINAL
	 Text : Trump,Entity :PERSON
	 Text : Iran,Entity :GPE
	 Text : Coronavirus,Entity :PERSON
	 Text : Saudi Arabia,Entity :GPE
	 Text : Cuba,Entity :GPE
	 Text : South Africa,Entity :GPE
	 Text : March,Entity :DATE
	 Text : William Barr,Entity :PERSON
	 Text : U.S.,Entity :GPE
	 Text : Kangaroo Point #APOD,Entity :ORG
	 Text : Brisbane,Entity :GPE
	 Text : Trump,Entity :PERSON
	 Text : 2020,Entity :DATE
	 Text : Democrats,Entity :NORP
	 Text : 2,Entity :CARDINAL
	 Text : Corona pandemic &amp,Entity :ORG
	 Text : 17,Entity :CARDINAL
	 Text : Russia,Entity :GPE
	 Text : Krasnoyarsk,Entity :GPE
	 Text : coronavirus,Entity :PERSON
	 Text : Corona,Entity :PERSON
	 Text : Americans,Entity :NORP
	 Text : the United States,Entity :GPE
	 Text : China,Entity :GPE
	 Text : üá∏,Entity :ORG
	 Text : China,Entity :GPE
	 Text : Philippines,Entity :GPE
	 Text : CoronaVirus,Entity :PERSON
	 Text : Newark Road,Entity :FAC
	 Text : North Hykeham,Entity :PERSON
	 Text : Lincoln,Entity :ORG
	 Text : Julian P Guffogg,Entity :PERSON
	 Text : RAF,Entity :ORG
	 Text : Kinloss,Entity :GPE
	 Text : coronavirus,Entity :PERSON
	 Text : Scotland,Entity :GPE
	 Text : THREAD,Entity :ORG
	 Text : 1/2 #,Entity :PERCENT
	 Text : 26,Entity :CARDINAL
	 Text : April 2020,Entity :DATE
	 Text : üîµ Transport,Entity :ORG
	 Text : Great Britain,Entity :GPE
	 Text : üîµ Apple,Entity :PERSON
	 Text : 8,Entity :CARDINAL
	 Text : 413,Entity :CARDINAL
	 Text : UK,Entity :GPE
	 Text : past 24hrs,Entity :DATE
	 Text : 20,372,Entity :CARDINAL
	 Text : CORONAVIRUS,Entity :PERSON
	 Text : LOUISIANA,Entity :GPE
	 Text : 26,773,Entity :CARDINAL
	 Text : 261,Entity :CARDINAL
	 Text : yesterday,Entity :DATE
	 Text : 1,670,Entity :CARDINAL
	 Text : 26,Entity :CARDINAL
	 Text : yesterday,Entity :DATE
	 Text : the Bolivar Peninsula,Entity :LOC
	 Text : yesterday,Entity :DATE
	 Text : today,Entity :DATE
	 Text : Democrats,Entity :NORP
	 Text : years,Entity :DATE
	 Text : Black Lives Matte,Entity :PERSON
	 Text : Democrats,Entity :NORP
	 Text : years,Entity :DATE
	 Text : Black Lives Matte,Entity :PERSON
	 Text : Trudeau/Tam/Hajdu et al,Entity :ORG
	 Text : April 26, 2020,Entity :DATE
	 Text : Coronavirus,Entity :PERSON
	 Text : Telangana,Entity :GPE
	 Text : Chinese,Entity :NORP
	 Text : Reggae,Entity :PERSON
	 Text : CoronaVirus,Entity :PERSON
	 Text : Muslim,Entity :NORP
	 Text : Democrats,Entity :NORP
	 Text : years,Entity :DATE
	 Text : Black Lives Matte,Entity :PERSON
	 Text : Black and Brown Americans,Entity :LAW
	 Text : Michigan,Entity :GPE
	 Text : Sunday,Entity :DATE
	 Text : the State of Black Women and Girls,Entity :FAC
	 Text : US,Entity :GPE
	 Text : coronavirus,Entity :PERSON
	 Text : China,Entity :GPE
	 Text : Watch,Entity :ORG
	 Text : Coronavirus,Entity :PERSON
	 Text : Democrats,Entity :NORP
	 Text : years,Entity :DATE
	 Text : Black Lives Matte,Entity :PERSON
	 Text : 4,Entity :CARDINAL
	 Text : Vijayawada,Entity :PERSON
	 Text : China,Entity :GPE
	 Text : 60,Entity :CARDINAL
	 Text : India,Entity :GPE
	 Text : üá≥,Entity :ORG
	 Text : one month,Entity :DATE
	 Text : Johnson,Entity :PERSON
	 Text : Tory,Entity :GPE
	 Text : 10,Entity :CARDINAL
	 Text : Un,Entity :ORG
	 Text : 26Abril,Entity :MONEY
	 Text : 6,Entity :CARDINAL
	 Text : COVID19,Entity :MONEY
	 Text : 2-14 days,Entity :DATE
	 Text : coronavirus,Entity :PERSON
	 Text : ‚ñ∂Ô∏èFever,Entity :TIME
	 Text : Belgium,Entity :GPE
	 Text : 2,037,Entity :MONEY
	 Text : CoronaVirus,Entity :PERSON
	 Text : Denmark,Entity :GPE
	 Text : Sweden,Entity :GPE
	 Text : UK,Entity :GPE
	 Text : Trump,Entity :PERSON
	 Text : 2020,Entity :DATE
	 Text : Democrats,Entity :NORP
	 Text : 6,Entity :CARDINAL
	 Text : COVID19,Entity :MONEY
	 Text : 2-14 days,Entity :DATE
	 Text : coronavirus,Entity :PERSON
	 Text : ‚ñ∂Ô∏èFever,Entity :TIME
	 Text : CHINA AFFECTS US ALL,Entity :ORG
	 Text : 413,Entity :CARDINAL
	 Text : UK,Entity :GPE
	 Text : past 24hrs,Entity :DATE
	 Text : 20,372,Entity :CARDINAL
	 Text : Fmr Stanford,Entity :PERSON
	 Text : 4/24/20,Entity :CARDINAL
	 Text : üëá,Entity :CARDINAL
	 Text : 60,Entity :CARDINAL
	 Text : India,Entity :GPE
	 Text : üá≥,Entity :ORG
	 Text : one month,Entity :DATE
	 Text : Rapid TestKit,Entity :ORG
	 Text : CoronaVirus,Entity :PERSON
	 Text : COVID2019,Entity :MONEY
	 Text : Mum,Entity :PERSON
	 Text : every day,Entity :DATE
	 Text : day,Entity :DATE
	 Text : 41 #coronavirus,Entity :MONEY
	 Text : Wisconsin,Entity :PERSON
	 Text : Israel,Entity :GPE
	 Text : 100%,Entity :PERCENT
	 Text : Astane Ashrafie,Entity :ORG
	 Text : Gilan,Entity :PERSON
	 Text : Iran,Entity :GPE
	 Text : Russia,Entity :GPE
	 Text : Krasnoyarsk,Entity :GPE
	 Text : Coronavirus,Entity :PERSON
	 Text : Yemenis,Entity :NORP
	 Text : Coronavirus,Entity :PERSON
	 Text : AP,Entity :ORG
	 Text : 151,Entity :CARDINAL
	 Text : Lorestan Medical Sciences University,Entity :ORG
	 Text : Iran,Entity :GPE
	 Text : The Supreme National Security Council &amp,Entity :ORG
	 Text : the Health Ministry's,Entity :ORG
	 Text : Secu,Entity :PRODUCT
	 Text : Feb,Entity :PERSON
	 Text : April 2020,Entity :DATE
	 Text : At least 30,Entity :CARDINAL
	 Text : New Yorkers,Entity :NORP
	 Text : the 18 hours,Entity :TIME
	 Text : Tiger King,Entity :WORK_OF_ART
	 Text : one,Entity :CARDINAL
	 Text : FBI,Entity :ORG
	 Text : Coronavirus,Entity :PERSON
	 Text : The FB,Entity :WORK_OF_ART
	 Text : Dictator Xi,Entity :PERSON
	 Text : China,Entity :GPE
	 Text : China,Entity :GPE
	 Text : Pakistan,Entity :GPE
	 Text : Chinese,Entity :NORP
	 Text : 413,Entity :CARDINAL
	 Text : UK,Entity :GPE
	 Text : past 24hrs,Entity :DATE
	 Text : 20,372,Entity :CARDINAL
	 Text : Kim Jong-Un,Entity :PERSON
	 Text : Trump,Entity :PERSON
	 Text : 2020,Entity :DATE
	 Text : Democrats,Entity :NORP
	 Text : 2 months ago,Entity :DATE
	 Text : today,Entity :DATE
	 Text : 2,000,000,Entity :CARDINAL
	 Text : Americans,Entity :NORP
	 Text : Politiker Krebs,Entity :PERSON
	 Text : √úbergewicht,Entity :GPE
	 Text : ü§¶,Entity :CARDINAL
	 Text : Karnataka,Entity :GPE
	 Text : Trump,Entity :PERSON
	 Text : DPA,Entity :ORG

0     [None, None, None, None, None]
1                     [None, , None]
2                       [None, None]
3                             [None]
4                             [None]
                   ...
95                                []
96          [None, None, None, None]
97                [None, None, None]
98                            [None]
99                      [None, None]
Name: text, Length: 100, dtype: object

In [23]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [24]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [0]:
sid=SentimentIntensityAnalyzer()

In [0]:
tweet_df["sentiment"]=tweet_df["text"].apply(lambda x:sid.polarity_scores(x))

In [27]:
tweet_df.head(800)

     geo  ...                                                       sentiment
0   None  ...    {'neg': 0.0, 'neu': 0.714, 'pos': 0.286, 'compound': 0.7184}
1   None  ...  {'neg': 0.068, 'neu': 0.764, 'pos': 0.168, 'compound': 0.4973}
2   None  ...   {'neg': 0.188, 'neu': 0.577, 'pos': 0.235, 'compound': 0.296}
3   None  ...   {'neg': 0.14, 'neu': 0.601, 'pos': 0.259, 'compound': 0.4545}
4   None  ...    {'neg': 0.345, 'neu': 0.655, 'pos': 0.0, 'compound': -0.836}
..   ...  ...                                                             ...
95  None  ...           {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
96  None  ...           {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
97  None  ...   {'neg': 0.166, 'neu': 0.834, 'pos': 0.0, 'compound': -0.4201}
98  None  ...    {'neg': 0.0, 'neu': 0.729, 'pos': 0.271, 'compound': 0.7443}
99  None  ...    {'neg': 0.0, 'neu': 0.777, 'pos': 0.223, 'compound': 0.5574}

[100 rows x 5 columns]